.blog-left-right_results {
    float: left;
    width: 90%;
    margin-left: 1em;
}
.agile-blog-grid {
    border-bottom: 1.5px solid #efefef;
    margin:2em 0;
}
.point_icon_font {
    font-size: 0.7em;
    color: red;
    font-weight: normal;
}
.domain_results{
    padding: 1.5em 0;
}
.classification{
    float: right;
    font-size: 1em;
    color: #888888;
    padding-right: 1px;
    margin: 0 0 8px 0;
}
.bolg_results{
    padding: 2em 0 4em 0;
}
.sort_select{
    width: 110px;
    height: 30px;
}